@using Assignment_WAD.Models;
@{
    ViewBag.Title = "GetParameter";
    var cart = ViewBag.shoppingCart as ShoppingCart;
}

<h2>Shopping Cart</h2>
<ul>
    @foreach (var item in cart.GetCartItems())
    {
        <li>
            @item.Value.ProductName - @item.Value.Quantity - @item.Value.Price <a onclick="return confirm('Ban co chac muon xoa san pham tuyet voi cua chung toi ra khoi gio hang khong.')" href="/ShoppingCart/RemoveCart?productId=@item.Value.ProductId">Remove</a>
        </li>
    }
</ul>
<b>Total price: @cart.GetTotalPrice()</b>
@Html.ActionLink("Create Order", "CreateOrder", null, new { @class = "btn btn-success" })

